body {
  margin: 0;
  font-family: 'Fredoka', sans-serif;
  background-color: #ffe4ec;
}


.choose-option-page {
  padding: 2rem;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 50px;
}

button {
  font-family: 'Fredoka', sans-serif;
}

.about-btn {
  background-color: #ff9595;
  color: white;
  border: none;
  padding: 13px 15px;
  margin-right: 40px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  transition: background-color 0.2s ease;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0); 
  font-family: 'Fredoka', sans-serif;
}


.content-container {
  display: flex;
  flex-wrap: wrap;
  height: 530px;
  width: 1300px;
  justify-content: center;
  background-color: #fff8f0;
  border: 3px solid #ff9595;
  border-radius: 25px;
  padding: 1rem;
  margin-top: -3rem;
  margin-bottom: 2rem;
  margin-left: 6rem;
  margin-right: 2rem;
  transform: scale(0.8);
  opacity: 0;
  animation: popBubble 0.6s ease-out forwards;
}

.image-section {
  flex: 1 2 150px;
  text-align: center;
}

.main-art {
  max-width: 100%;
  height: auto;
}

.options-section {
  flex: 1 1 300px;
  flex-direction: column;
  padding: 1rem;
  text-align: left;
  background-color: #ffe4ec;
  border: 2px solid #f76c6c;
  width: 20px;
  height: 200px;
  border-radius: 25px;
}

.chooseoption{
    font-size: 30px;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
    font-family: 'Fredoka', sans-serif;
    
}

.storybook-btn {
  background-color: #ff9595;
  color: white;
  font-weight: bold;
  padding: 15px 20px;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0); 
  font-family: 'Fredoka', sans-serif;
}

.picturebook-btn {
  background-color: #ff9595;
  color: white;
  font-weight: bold;
  padding: 15px 20px;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0); 
  font-family: 'Fredoka', sans-serif;
}

.storybook-btn:hover {
  box-shadow: 0 0 2px 1px #f76c6c;
}

.picturebook-btn:hover {
  box-shadow: 0 0 2px 1px #f76c6c;
}


.objective {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Fredoka', sans-serif;
  transform: scale(0.8);
  opacity: 0;
  animation: popBubble 0.6s ease-out forwards;  

}



@media (max-width: 768px) {




.content-container {
  height: 600px;
  width: 330px;
  margin-top: -4rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;

}




.options-section {
  margin-top: -5rem;
  height: 140px;
}

.chooseoption{
    font-size: 20px;
    margin-top: 1px;
    margin-left: 2px;
}

.storybook-btn {
  padding: 15px 15px;
  border: none;
  border-radius: 30px;
}

.picturebook-btn {
  padding: 15px 15px;
  border: none;
}


.objective {
  font-size: 1rem;
  margin-top: 25px;
}

}
