.mobile-app-header{
  display:none;
}

@media (max-width:1024px){

  .mobile-app-header{

  width:100%;

  display:flex;

  justify-content:space-between;

  align-items:center;

  margin-bottom:20px;
}

.mobile-logo-link{
  text-decoration:none;
}

.mobile-logo-section{

  display:flex;

  align-items:center;

  gap:10px;
}

.mobile-logo-icon{

  width:50px;

  filter:
  drop-shadow(
    0 0 2px #ff9595
  );
}

.mobile-logo-text{

  color:#ff9595;

  font-size:32px;

  font-weight:700;

  font-family:'Fredoka',sans-serif;

  text-shadow:
  1px 2px 1.5px
  rgba(63,63,63,.25);
}

.mobile-about-btn{

  background:
  rgba(255,255,255,.25);

  backdrop-filter:blur(15px);
  -webkit-backdrop-filter:blur(15px);

  border:
  1px solid rgba(255,255,255,.45);

  color:#ff9595;

  text-decoration:none;

  padding:10px 18px;

  border-radius:18px;

  font-weight:700;

  font-family:'Fredoka',sans-serif;

  box-shadow:
  0 8px 20px rgba(255,149,149,.15);
}

}

/* =========================
   TABLET
========================= */

@media(min-width:768px)
and (max-width:1024px){

  .mobile-logo-icon{
    width:65px;
  }

  .mobile-logo-text{
    font-size:46px;
  }

  .mobile-about-btn{
    font-size:18px;
    padding:14px 22px;
  }
}